.tasks-task-list {
  width: 100%;
}

@media screen and (min-width: 786px) {
  .tasks-task-list {
    width: 30%;
    margin-right: 20px;
    margin-bottom: 16px;
  }
}

.tasks-task-container {
  border: #b5b7c4 solid 1.5px;
  border-radius: 8px;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 100%;
}

.tasks-task-title-description-container {
  margin-left: 10px;
  margin-top: 18px;
  width: 100%; /* Allow the container to take full width */
  height: auto; /* Let the height adjust to content */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  flex-wrap: wrap; /* Ensure wrapping if necessary */

  word-wrap: break-word; /* Allow long words to break */
  overflow-wrap: break-word; /* Ensure long words wrap */
}

.tasks-task-delete-edit-btn {
  border: 2px red solid;
  width: 20%;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tasks-task-delete-edit-btn {
  background-color: transparent;
  font-size: 12px;
  color: #9e9ea5;
  min-height: 10px;
  border: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.tasks-task-title {
  color: #171f46;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 550;
}

@media screen and (min-width: 786px) {
  .tasks-task-title {
    font-size: 14px;
  }
}

.tasks-task-description {
  color: #9e9ea5;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.tasks-task-status {
  color: #232328;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}

.tasks-task-duedate {
  color: #232328;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}
